body {
    font-family: 'Open Sans', sans-serif;
}

.headerColor {
    background-color: lightgrey;
}

table {
    margin: 1%;
}

table, th, td {
    border: 1px solid black;
    height: 30px;
    
}

td {
    width: 180px;
}
